.container {
    max-width: var(--max-width);
    padding: 10px;
    margin: 0 auto;
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
}

.hero {
    p:first-of-type {
        font-size: 33px;
        line-height: 32px;
        white-space: pre-line;
    }
    p:last-child {
        font-size: 14px;
        margin-top: 4px;
    }
}

.projects {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.project {
    display: flex;
    justify-content: space-between;
}

.dates {
    font-size: 14px;
    align-self: center;
}

@media screen and (min-width: 700px) {
    .container {
        margin-top: 120px;
    }
}